<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>MAIN CHAT</title>
  </head>
  <body>
    <aside>
      <h1>in.Touch</h1>
      <%let thisUser = user%>
      <h2 id="user"><%=thisUser.username%></h2>
      <a class="button" href="/app">MAIN CHAT</a>
      <a class="button" href="/app/development">DEVELOPMENT</a>
      <a class="button" href="/">BACK</a>
    </aside>
    <div id="messages">
      <%for(let i = 0; i < messages.length; i++){%>
        <%if(messages[i].message.substring(0, 4) == 'http'){%>
          <%if(messages[i].name == thisUser.username){%>
            <div class="msg mine">
              <p><%=messages[i].name%></p>
              <a class="indent" href="<%=messages[i].message%>" target="_blank"> <%=messages[i].message%></a>
            </div>
          <%} else {%>
            <div class="msg">
              <p><%=messages[i].name%></p>
              <a class="indent" href="<%=messages[i].message%>" target="_blank"> <%=messages[i].message%></a>
            </div>
          <%}%>
        <%} else {%>
          <%if(messages[i].name == thisUser.username){%>
            <div class="msg mine">
              <p><%=messages[i].name%></p>
              <p class="indent"><%=messages[i].message%></p>
            </div>
          <%} else {%>
            <div class="msg">
              <p><%=messages[i].name%></p>
              <p class="indent"><%=messages[i].message%></p>
            </div>
          <%}%>
        <%}%>
      <%}%>
    </div>
    <form id="message-form" action="" method=""> <!-- /app, POST -->
      <input placeholder="Message..." id="message" autocomplete="off">
      <input type="submit" id="submit" value="SEND">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(()=>{
        console.log('im running client function');
        const scrollSki = () =>{
          $('#messages').animate({
            scrollTop: $('#messages').get(0).scrollHeight
          }, 1000);
        };
        scrollSki();
        let socket = io();
        socket.on('connect', ()=>{
          let id = socket.id;
          console.log(id);
        });
        $('form').on('submit', (event)=>{
          console.log('im emiting message');
          event.preventDefault();
          let $name = $('#user').text();
          let $message = $('#message').val();
          let $div = $('<div>').attr('class', 'msg');
          console.log($name, $message);
          socket.emit('chat message', {name: $name, message: $message, room: 'main'});
          if($message.substring(0, 4) == 'http'){
            $div.addClass('mine').append('<p>').text($name);
            $div.append($('<a>').addClass('indent').attr('href', $message).attr('target', '_blank').text($message));
            $('#messages').append($div);
          } else {
            $div.addClass('mine').append($('<p>').text($name));
            $div.append($('<p>').addClass('indent').text($message));
            $('#messages').append($div);
          };
          $('#message').val('');
          scrollSki();
          return false;
        });
        socket.on('main', (data)=>{
          console.log('im receiving message back');
          let $div = $('<div>').attr('class', 'msg');
          if(data.message.substring(0, 4) == 'http'){
            $div.append('<p>').text(data.name);
            $div.append($('<a>').addClass('indent').attr('href', data.message).attr('target', '_blank').text(data.message));
            $('#messages').append($div);
          } else {
            $div.append($('<p>').text(data.name));
            $div.append($('<p>').addClass('indent').text(data.message));
            $('#messages').append($div);
          };
          scrollSki();
        });
      });
    </script>
  </body>
</html>
